<div class="page-header">

  <h1><%= user.local.name || user.twitter.name %> </h1>

  <a href="/logout" class="waves-effect waves-light btn">Logout</a>

</div>

<div>
  <div>
    <% if(user.local.name){ %>
      <h3>Locally Stored User</h3>

      <p>
        <strong>Name</strong>: <%= user.local.name %><br>
        <strong>id</strong>: <%= user._id %><br>
        <strong>email</strong>: <%= user.local.email %><br>
        <strong>password</strong>: <%= user.local.password %>
      </p>
    <% } else { %>
      <h3>Twitter User</h3>

      <p>
        <strong>Name</strong>: <%= user.twitter.name %><br>
        <strong>id</strong>: <%= user.twitter.id %><br>
        <strong>email</strong>: <%= user.twitter.email %><br>
        <strong>token</strong>: <%= user.twitter.token %>
      </p>

    <% } %>

  </div>

</div>
